*{
    padding: 0;
    margin: 0;
    color: #263245;
}

@font-face {
    font-family: Bebas Neue Cyrillic;
    src: url(fonts/Bebas_Neue_Cyrillic.ttf);
    src: url(fonts/bebas_neue_cyrillic-webfont.woff);
}

@font-face {
    font-family: Bebas Neue Regular;
    src: url(fonts/bebasneue_regular-webfont.woff);
}

.header {
    display: flex;
    box-sizing: border-box;
    align-items:center;
}

.header__logo img {
    height: 20px;
    width: 182px;
}

.header__logo {
    padding-top: 6px;
    padding-left: 86px;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    letter-spacing: 0.2px;
    margin-right: 100px;
    margin-top: 14px;
    margin-bottom: 14px;
    height: 52px;
    width: 170px;
    background: #3171f2;
    color: white;
    cursor: pointer;
    margin-left: 17px;
}

.header__btn:hover {
    background: #537dd2;
    cursor: pointer;
}

.header__btn:active {
    background: #7d96c7;
    cursor: pointer;
}


.header__menu {
    margin-right: 28px;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    display: flex;
    list-style-type: none;
}

.header__menu-element {
    padding-left: 35px;
}

.header__menu-element--link {
    color: black;
    text-decoration: none;
}

.header__menu-element--link:hover {
    color: #000000bd;
}

.header__menu-element--link:active {
    color: #000000bd;
    text-decoration: underline;
}

.title {
    background: url("img/bg.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}

.title__date {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 24px;
    padding-right: 114px;
    padding-top: 22px;
    line-height: 1;
    color: white;
}

.title__date-text {
    color: white;
}


.title__date-sml {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid;
    width: 73px;
    padding-top: 7px;
    cursor: pointer;
}

.title__main {
    margin-top: 220px;
    margin-left: 202px;
}

.title__main-text {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 24px;
    color: white;
    white-space: pre;
}

.title__main-text:first-child {
    margin-bottom: 7px;
    line-height: 0.96;
}

.title__main-text:nth-child(2) {
    font-size: 96px;
    margin-bottom: 26px;
    letter-spacing: 0.8px;
}

.title__main-text:nth-child(4) {
    margin-bottom: 10px;
}

.title__main-text:nth-child(5) {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}

.title__main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 20px;
    color: white;
    width: 274px;
    height: 64px;
    background-color: #3171f2;
    margin-top: 42px;
    margin-bottom: 188px;
    letter-spacing: 0.3px;
}

.title__main-btn:hover {
    background: #537dd2;
    cursor: pointer;
}

.title__main-btn:active {
    background: #7d96c7;
    cursor: pointer;
}

.content-blocks {
    display: flex;
    flex-direction: column;
}

.content-blocks__title {
    margin-top: 97px;
    letter-spacing: 0.5px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 500px;
    line-height: 1.05;
    margin-bottom: 7px;
}

.content-blocks__title--sml {
    font-family: "Roboto";
    color: #3171f2;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 9px;
    font-size: 12px;
    text-transform: uppercase;
}

.content-blocks__title--big {
    text-transform: uppercase;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 48px;
}

.content-blocks__title--blue {
    color: #3171f2;
}

.content-blocks__main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 31px;
}

.content-blocks__main-block {
    display: flex;
    flex-direction: column;
    background-color: #f3f5fa;
    width: 376px;
    height: 282px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    padding-left: 24px;
    padding-top: 26px;
    padding-right: 55px;
    padding-bottom: 11px;
    box-sizing: border-box;
    margin-right: 36px;
    margin-bottom: 36px;
}

.content-blocks__text--title {
    font-size: 32px;
    line-height: 1;
    color: #3171f2;
    letter-spacing: 0.2px;
    padding-bottom: 14px;
}

.content-blocks__text--content {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #8b9499;
    line-height: 1.5;
}

.content-blocks__text--number {
    font-size: 48px;
    color: #8b9499;
    margin-top: auto;
    opacity: 0.2;
}

.content-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 123px;
}

.content-info__title {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
    font-size: 48px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    margin-bottom: 42px;
}

.content-info__element {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 557px;
    padding-left: 192px;
    position: relative;
}

.content-info__element-title {
    border-top: 1px solid #e6e8ed;
    padding-top: 20px;
    padding-bottom: 8px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 32px;
}

.content-info__element-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #8b9499;
    margin-bottom: 53px;
    width: 102%;
    line-height: 1.64;
}

.content-info__element:nth-child(2)::before {
    background: url("img/list.png") no-repeat;
    height: 77px;
    width: 75px;
    content: "";
    position: absolute;
    left: 53px;
    top: 25px;
}

.content-info__element:nth-child(3)::before {
    background: url("img/mail.png") no-repeat;
    height: 77px;
    width: 78px;
    content: "";
    position: absolute;
    left: 42px;
    top: 25px;
}

.content-info__element:nth-child(4)::before {
    background: url("img/dialog.png") no-repeat;
    height: 77px;
    width: 78px;
    content: "";
    position: absolute;
    left: 36px;
    top: 26px;
}

.content-info__element:nth-child(5)::before {
    background: url("img/cup.png") no-repeat;
    height: 77px;
    width: 78px;
    content: "";
    position: absolute;
    left: 50px;
    top: 25px;
}

.content-info__element:nth-child(6)::before {
    background: url("img/ks.png") no-repeat;
    height: 77px;
    width: 78px;
    content: "";
    position: absolute;
    left: 40px;
    top: 25px;
}

.format {
    display: flex;
    flex-direction: column;
    background-color: #f3f5fa;
    box-sizing: border-box;
}

.format__title {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 48px;
    padding-top: 89px;
    padding-left: 100px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.format__blocks {
    display: flex;
    margin-top: 60px;
    margin-left: 100px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 53px;
}

.format__blocks-element {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 412px;
    height: 156px;
    padding-right: 10px;
    white-space: pre;
}

.format__blocks-element--big {
    font-size: 32px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    color: #3171f2;
}

.format__blocks-element--sml {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #8b9499;
    padding-top: 10px;
    line-height: 1.5;
}

.bio {
    display: flex;
}

.bio__title {
    display: flex;
    flex-direction: column;
}

.bio__title-text {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 48px;
    margin-top: 102px;
    margin-left: 100px;
    letter-spacing: 0.5px;
}

.bio__title-img {
    margin-top: 20px;
    margin-left: 99px;
}

.bio__info {
    display: flex;
    flex-direction: column;
    margin-top: 173px;
    margin-left: 37px;
}

.bio__info-descript {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #3171f2;
}

.bio__info-name {
    box-sizing: border-box;
    padding-top: 4px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 48px;
    letter-spacing: 0.4px;
}

.bio__info-content {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #8b9499;
    line-height: 2.2;
    margin-top: 10px;
    margin-left: 30px;
}

.bio__info-content--text {
    position: relative;
    white-space: nowrap;
}

.bio__info-content--text::before {
    content: "";
    position: absolute;
    background-color: #3171f2;
    height: 2px;
    width: 12px;
    top: 12px;
    left: -30px;
}

.bio__info-title {
    padding-top: 36px;
    letter-spacing: 0.2px;
    font-size: 32px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
}

.bio__info-main {
    width: 685px;
    padding-top: 7px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #263245;
    line-height: 1.64;
    display: flex;
    flex-direction: column;
}

.bio__info-main--text {
    box-sizing: border-box;
    padding-bottom: 9px;
}

.bio__info-end {
    padding-top: 30px;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    color: #3171f2;
    font-size: 24px;
}

.bio__info-foot {
    width: 700px;
    padding-top: 9px;
    display: flex;
    font-size: 32px;
    font-family: "Bebas Neue Regular";
    font-weight: 600;
    line-height: 0.95;
    letter-spacing: 0px;
    margin-right: 28px;
}

.bio__info-foot--element {
    margin-right: 6px;
}

.bio__info-foot--element:nth-child(2) {
    padding-left: 22px;
}

.garant {
    box-sizing: border-box;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 236px;
    background: rgba(117,160,245,1);
    background: -moz-radial-gradient(center, circle cover, rgba(117,160,245,1) 0%, rgba(117,160,245,1) 27%, rgba(97,141,224,1) 27%, rgba(72,128,232,1) 44%, rgba(74,124,224,1) 44%, rgba(65,127,242,1) 61%, rgba(61,119,235,1) 61%, rgba(61,119,235,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(117,160,245,1)), color-stop(27%, rgba(117,160,245,1)), color-stop(27%, rgba(97,141,224,1)), color-stop(44%, rgba(72,128,232,1)), color-stop(44%, rgba(74,124,224,1)), color-stop(61%, rgba(65,127,242,1)), color-stop(61%, rgba(61,119,235,1)), color-stop(100%, rgba(61,119,235,1)));
    background: -webkit-radial-gradient(center, circle cover, rgba(117,160,245,1) 0%, rgba(117,160,245,1) 27%, rgba(97,141,224,1) 27%, rgba(72,128,232,1) 44%, rgba(74,124,224,1) 44%, rgba(65,127,242,1) 61%, rgba(61,119,235,1) 61%, rgba(61,119,235,1) 100%);
    background: -o-radial-gradient(center, circle cover, rgba(117,160,245,1) 0%, rgba(117,160,245,1) 27%, rgba(97,141,224,1) 27%, rgba(72,128,232,1) 44%, rgba(74,124,224,1) 44%, rgba(65,127,242,1) 61%, rgba(61,119,235,1) 61%, rgba(61,119,235,1) 100%);
    background: -ms-radial-gradient(center, circle cover, rgba(117,160,245,1) 0%, rgba(117,160,245,1) 27%, rgba(97,141,224,1) 27%, rgba(72,128,232,1) 44%, rgba(74,124,224,1) 44%, rgba(65,127,242,1) 61%, rgba(61,119,235,1) 61%, rgba(61,119,235,1) 100%);
    background: radial-gradient(circle at center, rgba(117,160,245,1) 0%, rgba(117,160,245,1) 27%, rgba(97,141,224,1) 27%, rgba(72,128,232,1) 44%, rgba(74,124,224,1) 44%, rgba(65,127,242,1) 61%, rgba(61,119,235,1) 61%, rgba(61,119,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a0f5', endColorstr='#3d77eb', GradientType=1 );
}

.garant-title {
    color: white;
    padding-top: 67px;
    box-sizing: border-box;
    font-size: 32px;
    font-family: "Bebas Neue Cyrillic", sans-serif;    
}

.garant-text {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 689px;
    line-height: 1.64;
    padding-top: 18px;
    text-align: center;
}

.programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bebas Neue Cyrillic", sans-serif;
}

.programm__days {
    display: flex;
}

.programm__title {
    margin-top: 216px;
    margin-bottom: 48px;
    font-size: 48px;
}

.day__title {
    box-sizing: border-box;
    font-size: 32px;
    color: #8b9499;
    padding-left: 16px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-right: 19px;
    margin-left: 19px;
    position: relative;
    padding-top: 22px;
}

.day__title:hover {
    color: #3171f2;
    border-bottom: 2px solid #3171f2;
}

.programm__day-blocks--first {
    background: #f3f5fa;
    width: 100%;
    display: flex;
    margin-top: 11px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 104px;
    padding-left: 112px;
}

.day__block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 380px;
    margin-right: 32px;
    height: 303px;
    padding-top: 88px;
}

.day__block-title {
     font-size: 32px;
     white-space: pre;
     line-height: 1.03;
     padding-bottom: 17px;
}

.day__block-content {
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 28px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #8b9499;
    line-height: 19.7px;
    box-sizing: border-box;
    position: relative;
}

.day__block-content::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #3171f2;
    top: 10px;
    left: 1px;
}

@media screen and (max-width: 1000px) {
    
    .header {
        display: flex;
        margin-left: auto;
        margin: 0px;
        height: 60px;
        width: 100%;
    }


    .header__logo {
        display: none;
    }

    .header__logo img {
        display: none;
    }

    .header__btn {
        width: 81px;
        height: 18px;
        background: none;
        color: #3171f2;
        margin-left: auto;
        margin-right: 20px;
        font-size: 18px;
    }

    .header__btn:hover {
        background: none;
        color: #537dd2;
        transform: scale(1.1);
        transition: all .3s ease;
    }

    .header__btn:active {
        text-decoration: underline;
        background: none;
    }

    .header__menu-element {
        display: none;
    }

    .header__menu-element--link {
        display: none;
    }

    .header__menu {
        box-sizing: border-box;
        width: 20px;
        height: 14px;
        font-size: 0;
        background: url("img/menu-512.png") no-repeat -6px -10px;
        background-size: 34px;
        margin-left: 20px;
    }

    .header__menu:hover {
        transform: scale(1.1);
        transition: all .2s ease;
    }

    .title {
    background: url("img/bg-m.png") no-repeat;
    background-size: cover;
    flex-direction: column;
    }

    .title__main-btn {
        display: none;
    }

    .title__main {
        margin-top: 86px;
        margin: auto;
    }

    .title__main-text {
        font-size: 20px;
        padding-left: 0px;
        
    }

    .title__main-text:first-child {
        margin-bottom: 0px;
        margin-top: 85px;
    }

    .title__main-text:nth-child(2) {
        margin-bottom: 0px;
        font-size: 54px;
    }

    .title__main-text:nth-child(4) {
        margin-bottom: 24px;
    }

    .title__date {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: #3171f2;;
        margin: 0;
        flex-wrap: wrap;
        padding: 0;
        height: 64px;
        margin-top: 127px;
        padding-top: 11px;
        padding-left: 19px;
        font-size: 22px;
    }

    .title__date-sml {
        box-sizing: border-box;
        padding-top: 17px;
        margin-left: auto;
        margin-right: 20px;
    }

    .content-blocks__title {
        margin: 0;
        margin-top: 69px;
        margin-left: 20px;
    }

    .content-blocks__title--sml {
        letter-spacing: 2.5px;
        font-size: 10px;
    }

    .content-blocks__title--big {
        font-size: 26px;
        width: 270px;
        letter-spacing: 0.3px;
    }

    .content-blocks__main {
        margin-top: 28px;
        margin-left: 20px;
    }

    .content-blocks__main-block {
        width: 280px;
        height: 210px;
        margin: 0;
        margin-right: 8px;
        padding: 0;
        padding-top: 19px;
        padding-left: 16px;
        padding-right: 10px;
        letter-spacing: 0.2px;
        margin-bottom: 8px;
    }

    .content-blocks__main-block:nth-child(2),
    .content-blocks__main-block:nth-child(3),
    .content-blocks__main-block:nth-child(4),
    .content-blocks__main-block:nth-child(5) {
        display: none;
    }

    .content-blocks__text--title {
        font-size: 22px;
        padding: 0px;
    }

    .content-blocks__text--content {
        padding-top: 12px;
        font-size: 14px;
        word-spacing: -2px;
    }

    .content-blocks__text--number {
        display: none;
    }

    .content-info {
        margin-bottom: 5px;
    }

    .content-info__title {
        margin-bottom: 19px;
        padding-top: 24px;
        letter-spacing: 0.2px;
        font-size: 28px;
        white-space: nowrap;
        padding-bottom: 0px;
    }

    .content-info__element {
       padding-left: 0px;
       width: 280px;

    }

    .content-info__element-title {
        padding-top: 122px;
        font-size: 22px;
    }


    .content-info__element-text {
        font-size: 14px;
        white-space: normal;
        padding-right: 2px;
        width: auto;
    }

    .content-info__element:nth-child(2)::before {
        left: 0px;
        top: 25px;
    }

    .content-info__element:nth-child(3)::before {
        left: 0px;
        top: 25px;
    }

    .content-info__element:nth-child(4)::before {
        left: 0px;
        top: 26px;
    }

    .content-info__element:nth-child(5)::before {
        left: 0px;
        top: 25px;
    }

    .content-info__element:nth-child(6)::before {
        left: 0px;
        top: 25px;
    }

    .format__blocks {
        flex-direction: column;
        margin: 0;
        margin-left: 20px;
        align-items: center;

    }

    .format__title {
        align-self: center;
        box-sizing: border-box;
        font-size: 28px;
        width: 280px;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        letter-spacing: 0.15px;
        line-height: 1.1;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .format__blocks-element {
        padding: 0;
        margin: 0;
        height: auto;
        width: 270px;
        padding-bottom: 37px;
    }

    .format__blocks-element--big {
        font-size: 22px;
        padding: 0;
        padding-bottom: 7px;
    }

    .format__blocks-element--sml {
        font-size: 14px;
        padding: 0;
        padding-bottom: 0px;
        white-space: normal;
    }
}