* {
    margin: 0;
    padding: 0;
}

html {
    width: 720px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    height: 100vh;
}

.autorisation__title {
    background: url("img/bg.svg") no-repeat 62px 4px;
    background-size: auto;
    min-height: 91px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 33px;
}

.autorisation {
    position: relative;
}


.autorisation__arrow {
    position: absolute;
    height: 32px;
    width: 34px;
    background: url("img/arrow.svg") no-repeat;
    top: 37px;
    left: 33px;
}

.autorisation__arrow:hover {
    transform: scale(1.1);
    transition: ease .3s;
    cursor: pointer;
}

.description {
    display: flex;
    margin-top: 72px;
}

.description__icon {
    background: url("img/phone.svg");
    height: 112px;
    width: 112px;
    margin-left: 48px;
}

.description__text {
    font-size: 28px;
    max-width: 496px;
    margin-left: 32px;
    line-height: 40px;
    margin-top: -5px;
}

.phone-title {
    display: flex;
    justify-content: center;
}

.phone-title__text {
    text-align: center;
    font-size: 32px;
    color: #91969a;
    margin-top: 49px;
    line-height: 48px;
    max-width: 656px;
}

.phone-input {
    margin-top: 104px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.phone-input__form-country {
    min-width: 80px;
    max-width: 120px;
    font-size: 48px;
    border: none;
    border-bottom: 2px solid #c4c4c4;
}

.phone-input__form-select {
    font-size: 48px;
    border: none;
    color: #24b7af;
    border-bottom: 2px solid #c4c4c4;
    background: white;
}

.phone-input__form-select:focus {
    border: none;
    outline: none;
}

.phone-input__form-numbers {
    font-size: 48px;
    color: #24b7af;
    border: none;
    width: 355px;
    border-bottom: 2px solid #c4c4c4;
}

.phone-input__form-numbers:focus {
    border: none;
    outline: none;
}

.next-btn {
    height: 112px;
    width: 112px;
    background: url("img/whitearrow.svg") no-repeat center, #24b7af;
    border-radius: 50%;
    margin-top: auto;
    margin-left: auto;
    margin-right: 32px;
    margin-bottom: 64px;
}

.next-btn:hover {
    background: url("img/whitearrow.svg") no-repeat center, #4fd8d0;
    cursor: pointer;
}