* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Roboto", sans-serif;
    color: #272d3d;
}

.header {
    background: #214497;
    height: 80px;
}

.main {
    display: flex;
}

.main__first-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding-left: 202px;
}

.main__second-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fafbff;
    padding-left: 113px;
    box-sizing: border-box;
    position: relative;
}

.first-column__title {
    padding-top: 56px;
    font-size: 24px;
    color: #272d3d;
    position: relative;
    margin-bottom: 70px;
}

.first-column__title::before {
    width: 67px;
    height: 2px;
    background-color: #214497;
    content: "";
    position: absolute;
    bottom: -14px
}

.first-column__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 384px;
    min-width: 100px;
    padding-top: 17px;
    padding-bottom: 16px;
    border-bottom: #898c982e 1px solid;

}

.first-column__caption {
    font-size: 14px;
    color: #898c98;
}

.first-column__content {
    font-size: 18px;
    color: #272d3d;
    margin-top: 4px;
}


.first-column__content:nth-child(12) {
    color: #214497;
}

.first-column__warning {
    margin-top: 33px;
    font-size: 14px;
    line-height: 19.7px;
    color: #898c98;
    margin-bottom: 208px;
    max-width: 419px;
}

.first-column__btn {
    margin-top: auto;
    margin-bottom: 30px;
    text-decoration: none;
    width: 152px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #898c9870;
    color: #898c98;
    box-sizing: border-box;
    padding-left: 56px;
    padding-top: 16px;
    font-size: 14px;
}

.first-column__btn:hover {
    background-color: #edeff5; 
}

.first-column__btn:active {
    background-color: #d5d9e6;
}

.second-column__title {
    padding-top: 56px;
    font-size: 24px;
    color: #272d3d;
    position: relative;
    margin-bottom: 70px;
}

.second-column__title::before {
    width: 67px;
    height: 2px;
    background-color: #214497;
    content: "";
    position: absolute;
    bottom: -14px
}

.second-column__designation {
    font-size: 18px;
    max-width: 408px;
    color: #272d3d;
    line-height: 1.41;
}

.sum {
    color: #214497;
}

.second-column__code {
    color: #214497;
    font-weight: 500;
    font-size: 22px;
    margin-top: 24px;
}

.second-column__copy {
    border-bottom: 1px dashed;
    width: 68px;
    color: #5d606d;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: px;
    cursor: pointer;
}

.second-column__warning {
    margin-top: 32px;
    font-size: 14px;
    color: #898c98;
    max-width: 392px;
    line-height: 19.7px; 
}

.second-column__qr {
    margin-top: 88px;
    font-size: 18px;
 }


.second-column__qr-image-container {
    background: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.second-column__btn {
    margin-top: auto;
    margin-bottom: 30px;
    text-decoration: none;
    width: 200px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #214497;
    color: white;
    box-sizing: border-box;
    font-size: 14px;
}

.second-column__btn:hover {
    background-color: #365bb3;
}

.second-column__btn:active {
    background-color: #223c79;
}

.mobile__btn {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .second-column__code {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        flex-direction: column;
    }

    .main__first-column {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }

    .main__second-column {
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }

    .first-column__title {
        padding-top: 35px;
        font-size: 20px;
        margin-bottom: 48px;
    }


    .first-column__content {
        font-size: 16px;
        margin-top: 4px;
    }
    
    .first-column__underline {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .first-column__warning {
        margin-top: 1px;
        line-height: 1.41;
        margin-bottom: 42px;
    }

    .first-column__btn {
        display: none;
    }

    .second-column__title {
        padding-top: 0px;
        margin-top: 32px;
        margin-bottom: 0;
    }

    .second-column__designation {
        font-size: 14px;
        margin-top: 42px;
    }

    .second-column__code {
        font-size: 13px;
        margin-top: 14px;
    }

    .second-column__copy {
        width: 110px;
        height: 38px;
        border-radius: 4px;
        background-color: #ebecef;
        border: none;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: #898c98;
        margin-top: 26px;
    }

    .second-column__copy:hover {
        background-color: #c7c7c7a8;
    }

    .second-column__warning {
        margin-top: 25px;
    }

    .second-column__qr,
    .second-column__qr-image-container,
    .second-column__qr-image {
        display: none;
    }

    .second-column__btn {
        margin-left: 150px;
        margin-top: 72px;
        margin-bottom: 40px;
    }

    .mobile__btn {
        display: flex;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background: url("img/back-arrow.svg") no-repeat 17px 17px;
        background-color: #ebecef;
        bottom: 40px;
        position: absolute;
    }
    
    .mobile__btn:hover {
        background-color: #dedede
    }

    .mobile__btn:active {
        background-color: #cacaca;
    }

}

@media only screen and (min-height: 840px) {
    .main {     
        height: calc(100vh - 80px);
    }
}

.main__success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__success-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__success-icon {
    height: 100px;
    width: 100px;
    background: url("img/ok.svg") no-repeat center #27a91b;
    border-radius: 50%;
    margin-top: 102px;
}

.main__success-content {
    font-size: 24px;
    margin-top: 29px;
}

.main__success-description {
    font-size: 14px;
    color: #898c98;
    max-width: 349px;
    text-align: center;
    margin-top: 16px;
}

.main__code-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 176px;
    border-bottom: #898c98 1px solid;
    margin-bottom: 123px;
}

.main__code-description {
    font-size: 14px;
    max-width: 384px;
    font-weight: 500;
    line-height: 1.41;
}

.main__code-title {
    font-size: 14px;
    color: #898c98;
    margin-right: 260px;
    margin-top: 29px;
}

.main__code-number {
    font-size: 18px;
    margin-right: 8px;
    margin-top: 7px;
    box-sizing: border-box;
    padding-bottom: 11px;
}

.main__btn-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 202px;
    padding-right: 202px;
    margin-top: auto;
}

@media only screen and (min-height: 840px) {
    .main-success {     
        height: calc(100vh - 80px);
    }
}

@media only screen and (max-width: 1000px) {
    .main__success-icon {
        margin-top: 51px;
    }

    .main__success-content {
        max-width: 283px;
        text-align: center;
        margin-top: 29px;
    }

    .main__success-description {
        margin-top: 11px;
        max-width: 283px;
    }

    .main__btn-item {
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        max-width: 404px;
    }

    .main__code-item {
        margin-top: 116px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
    }

    .main__code-description {
        margin: auto;
    }


    .main__code-title {
        margin-top: 11px;
        margin-right: auto;
    }
        
    .main__code-number {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .back {
       bottom: 43px;;
       left: 10px;
       margin: 0;
       padding: 0;
    }

    .blue {
        box-sizing: border-box;
        margin-left: auto;
        position: absolute;
        bottom: 43px;;
        right: 10px;
        margin: 0;
        padding: 0;
    }
}