* {
    margin: 0;
    padding: 0;
}

/* GLOBAL */
body, html {
    background: #f4f6f7;
    overflow-x: hidden;
}

.slider-nav-mobile {
    display: none;
}

.slider-nav__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 15px;
}

.slider-nav__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #BBBBBB;
    margin-bottom: 23px;
}

.slider-nav__item--active {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    position: relative;
    color: #275DAE;
}

.slider-nav__item--active::before {
    content: '';
    background: #FFCF24;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
}
.title {
    padding-top: 120px;
}
.title h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #666666;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.title h3 span {
    position: relative;
    z-index: 1;
}
.title h3::after {
    content: '';
    background: #FFCF24;
    width: 100%;
    height: 10px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    z-index: 0;
}

.title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 750px;
    color: #275DAE;
}
.flex {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.flex__section--left {
    min-width: 305px;
    max-width: 305px;
}

.nav {
    display: flex;
    list-style: none;
}

.nav__item {
    margin-right: 27px;
}
.nav__item:last-of-type {
    margin-right: 0;
}

.nav__item a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}
/* HEADER */
.header {
    display: flex;
    width: 1200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    align-items: center;
    padding-top: 10px;
}

.header__logo {
    margin-right: 47px;
}

.header__login {
    margin-left: auto;
}

.header__login button {
    padding: 0 22px;
    height: 48px;
    background: #275DAE;
    border-radius: 63px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* TOP */
.top {
    position: relative;
    width: 100%;
    display: flex;
    background: url('./img/top.jpg');
    height: 100vh;
    background-size: cover;
}

.top__bottom {
    color: #fff;
    display: flex;
    margin: auto auto 0;
    width: 1200px;
    padding-bottom: 65px;
}

.top__video {
    display: flex;
    align-items: center;
    padding-right: 87px;
    height: 70px;
}

.top__video span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-left: 10px;
}

.top__title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top__title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 33px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 450px;
    margin-bottom: 11px;
}

.top__title button {
    padding: 0 22px;
    height: 48px;
    border: none;
    background: #1DAD49;
    border-radius: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.top__text {
    width: 268px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-left: auto;
}

/* STEPS */
.opportunities__nav {
    padding-top: 300px;
}

.opportunities__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;

    color: #777777;
    margin-top: 21px;
    margin-bottom: 35px;
}

.opportunities__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-right: -18px;
}
.opportunities__item {
    width: 273px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 18px 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #777777;
    margin: 18px;   
}

.opportunities__item:hover {
    box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.1);
}

.opportunities__item ._line {
    background: #FFCF24;
    width: 47px;
    height: 3px;
    margin-top: 13px;
}

.steps__nav {
    padding-top: 100px;
}

.steps__nav-item {
    display: flex;
    margin-bottom: 100px;
}

.steps__nav-num {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFCF24;
    position: relative;
    top: -14px;
    width: 50px;
    text-align: center;

}

.steps__nav-content h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
}

.steps__nav-content span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #BBBBBB;
}

.steps__grid {
    padding-top: 32px;
}

.steps__grid-item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 29px 32px;
    margin-bottom: 32px;
}

.steps__grid-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
}

.steps__grid-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #777777;
}

.about__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #777777;
}

.about__text--blue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #275DAE;
    margin-bottom: 17px;
}

.about__all {
    background: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 32px 67px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.about__icon {
    margin-right: 22px;
}

.about__content h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
}

.about__content span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #777777;
} 

.about__button {
    margin-left: auto;
}

.about__button button {
    background: #1DAD49;
    border-radius: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    height: 48px;
    padding: 0 32px;
}

.news__item {
    width: 100%;
    background: #fff;
    display: flex;
    margin-bottom: 32px;
}

.news__image {
    min-width: 377px;
    height: 288px;
    font-size: 0;
}

.news__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
}

.news__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #666666;
}

.news__date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.01em;
    color: #BBBBBB;
}

.news__content {
    padding: 23px 36px;
}

.footer {
    padding-top: 80px;
    background: #275DAE;
}

.footer__top {
    display: flex;
}

.footer__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.footer__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer__soc {
    display: flex;
}

.footer__copy {
    display: flex;
    margin-top: 81px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__copy-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer__copy-item:first-of-type {
    margin-right: auto;
}

.footer__logo {
    display: flex;
    justify-content: flex-end;
    padding-right: 36px;
    box-sizing: border-box;
}

.footer__soc {
    margin-top: auto;
}

.footer__soc a {
    margin-right: 10px;
}

.footer__nav {
    margin-top: 10px;
}

@media (max-width: 1300px) {
    .header {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 10px;
    }
    .header__menu, .header__login {
        display: none;
    }
    .header__burger {
        margin-left: auto;
        display: block;
    }

    .top__title h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 42px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .top__title h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 42px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .top__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin-top: 20px;
    }
    .top__bottom {
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: auto;
    }
    .top__text {
        margin-left: 0;
    }
    .flex {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    .flex__section--left {
        display: none;
    }
    .title {
        padding-top: 50px;
    }
    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #666666;
    }
    .title h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #275DAE;
    }

    .slider-nav-mobile__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #666666;
        margin-bottom: 10px;
    }

    .slider-nav-mobile__list {
        display: flex;
        max-width: 90vw;
        overflow-x: scroll;
        overflow-y: hidden;
        border-bottom: #C5C5C5;
        padding: 10px 0px;
    }

    .slider-nav-mobile__item {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #BBBBBB;
        margin-right: 30px;
        white-space: nowrap;
    }
    .slider-nav-mobile__item--active {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #275DAE;
        position: relative;
    }
    .slider-nav-mobile__item--active:after {
        content: '';
        width: 100%;
        height: 3px;
        background: #FFCF24;
        position: absolute;
        bottom: -7px;
        left: 0;
    }
    .steps__nav-item {
        margin-bottom: 0;
    }
    .about__icon {
        display: none;
    }
    .about__all {
        padding: 17px;
        flex-direction: column;
    }
    .about__button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .about__button button {
        width: 100%;
    }
    .news__title {
        margin-bottom: 23px;
    }
    .news__item {
        flex-direction: column;
    }
    .news__content {
        padding: 10px 15px;
    }
    .news__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #275DAE;
        margin-bottom: 5px;
    }
    .footer__logo--mobile img {
        width: 90px;
        height: 90px;
    }
    .footer__top {
        flex-direction: column;
    }
    .footer__nav {
        display: none;
    }
}

@media (min-width: 1300px) {
    .header__burger {
        display: none;
    }
    .footer__logo--mobile {
        display: none;
    }
}
/* INDEX1 */

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
    margin: 0;
}

.title__margin {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: normal;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-left: 36px;
    color: #275DAE;
}

.news {
    margin-bottom: 30px;
}

.rectangle {
    background: white;
    margin-bottom: 32px;
    padding-bottom: 29px;
}

.title__date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.01em;
    color: #BBBBBB;
    padding-left: 36px;
    padding-bottom: 29px;
}

.micromenu {
    display: flex;
    margin-top: 95px;
}

.micromenu__list {
    display: flex;
    list-style-type: none;
}

.micromenu__element {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #666666;
    padding-right: 31px;
}

.header__menu--alt a {
    color: #666666;
}

/* INDEX1 */

.vs {
    margin: 0;
    margin-top: 68px;
    background: none;
}

.title--yellow {
    margin: 0;
    padding: 0;
    margin-top: 44px;
    margin-bottom: 8px;
}

.title__margin--alt {
    padding: 0;
    margin: 0;
    margin-bottom: 69px;
}

.about__text--alt {
    margin-bottom: 56px;
}

.desc--grey {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #BBBBBB;
    padding-top: 18px;
    padding-bottom: 45px;
}

.yellowline__text {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: #275DAE;
    padding-left: 16px;
    margin-bottom: 46px;
    z-index: 2;
}

.yellowline__text::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 160px;
    left: 0px;
    top: -7px;
    background: #FFCF24;
    color: #FFCF24;
    z-index: -1;
}

.frame-list__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
    padding-bottom: 13px;
}

.frame-list__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #777777;
    padding-left: 32px;
    padding-bottom: 25px;
    position: relative;
}

.frame-list__item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 14px;
    left: 0;
    background: #FFCF24;
}

.frame-list__title--blue {
    margin-top: 134px;
}

.footer--2 {
    margin-top: 200px;
}

.fb-side {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #3B5998;
    margin-right: 10px;
    position: relative;
}

.fb-side::before {
    content: "";
    background: url("img/fbside.svg") no-repeat center;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 9px;
    left: 8px;
}

.vk-side {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #4C6C91;
    margin-right: 10px;
    position: relative;
}

.vk-side::before {
    content: "";
    background: url("img/vkside.svg") no-repeat center;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 9px;
    left: 8px;
}

.inst-side {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #D62976;
    margin-right: 10px;
    position: relative;
}

.inst-side::before {
    content: "";
    background: url("img/inst-side.svg") no-repeat center;
    position: absolute;
    width: 39px;
    height: 39px;
    top: -1px;
    left: -1px;
}

.tw-side {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #55ACEE;
    position: relative;
}

.tw-side::before {
    content: "";
    background: url("img/twside.svg") no-repeat center;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 9px;
    left: 8px;
}

.side__soc {
    display: flex;
}

.side__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 11px;
}

.side__title {
    margin-top: 600px;
}

/* INDEX3 */
.info {
    box-sizing: border-box;
    display: flex;
    margin-top: 62px;
}

.info__text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.info__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #275DAE;
}

.img__item {
    margin-right: 36px;
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
}

.info__title--yellow {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #122E59;
    background: #FFCF24;
    width: 473px;
    margin-bottom: 14px;
    position: relative;
}

.info__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #777777;
    padding-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

.info__item::before {
    content: "";
    background: #275DAE;
    position: absolute;
    width: 24px;
    height: 2px;
    top: 9px;
    left: 0;
}

.info {
    display: flex;
    align-items: center;
}

.info__text--list {
    display: flex;
    flex-direction: column;
}


.info:last-child {
    margin-bottom: 286px;
}