* {
    margin: 0;
    padding: 0;
}


html {
    min-width: 1920px;
}

@font-face  { 
    font-family: 'Pollock';
    src: url('./fonts/Pollock.woff2') format('woff2'), url('./fonts/Pollock.woff') format('woff');
}

.header {
    background: url("img/Background.png") no-repeat;
    background-size: cover;
}

.header__title {
    display: flex;
    align-items: center;
}

.header__title-logo {
    margin-top: 19px;
    margin-left: 60px;
}

.header__title-menu {
    height: 18px;
    width: 28px;
    background: url(img/menu2.png) no-repeat,
                url(img/menu.png) no-repeat 0px 10px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 14px;
}

.header__title-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s cubic-bezier(0.4, 0, 1, 1);
}

.header__content {
    display: flex;
    justify-content: center;
    margin-left: 77px;
}

.header__content-left {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.header__content-right {
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header__content-left-play {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 27px;
    letter-spacing: 31px;
    margin-left: auto;
    color: white;
    text-transform: uppercase;
    position: relative;
    margin-top: 145px;
}

.header__content-left-play::before {
    content: "";
    height: 1px;
    width: 400px;
    position: absolute;
    background: white;
    top: 48px;
    right: 246px;
}

.header__content-left-play::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 52px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    left: 219px;
    top: 48px;
}

.header__content-left-playbtn {
    position: absolute;
    width: 51px;
    height: 51px;
    border: 1px solid white;
    left: 746px;
    top: 193px;
    background: url("img/play.png") no-repeat center;
}

.header__content-left-playbtn:hover {
    border-color: #eec400;
    cursor: pointer;
}

.header__content-left-video {
    margin-left: auto;
    margin-right: 162px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 3.8px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.header__content-left-number {
    font-size: 260px;
    font-weight: bold;
    font-family: "Cinzel";
    position: absolute;
    top: 30px;
    left: 13px;
    color: #ffa500;
}

.header__content-left-rules {
    font-family: "Pollock", sans-serif;
    font-size: 92px;
    margin-top: 128px;
    margin-left: 27px;
    text-transform: uppercase;
    letter-spacing: 24px;
    color: #064557;
    position: relative;
    line-height: 0.7;
    z-index: 2;
}

.header__content-left-reach {
    margin-top: 2px;
    font-family: sans-serif;
    font-family: "Pollock", sans-serif;
    font-size: 92px;
    margin-left: 27px;
    text-transform: uppercase;
    letter-spacing: 26px;
    color: white;
    position: relative;
    z-index: 2;
}

.orange-text {
    color: #ffa500;
}

.white-text {
    color: white;
}

.header__content-left-gift {
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 4.7px;
    margin-top: 13px;
    color: #064557;
    font-size: 24px;
    margin-left: 27px;
    position: relative;
}

.header__content-left-gift::before {
    content: "";
    position: absolute;
    width: 973px;
    height: 153px;
    background: url("img/rule.png") no-repeat;
    bottom: 76px;
    left: -522px;
}

.header__content-left-gift::after {
    content: "";
    position: absolute;
    width: 1076px;
    height: 153px;
    background: url("img/rules2.png") no-repeat;
    left: -422px;
    bottom: 76px;
}

.eight {
    font-size: 30px;
    letter-spacing: 8px;
}

.header__content-left-sucess {
    font-family: "Roboto";
    font-weight: 400;
    color: #064557;
    font-size: 25px;
    margin-left: 27px;
    margin-top: 5px;
    letter-spacing: -1.6px;
    position: relative;
    z-index: 2;
}

.header__content-left-sucess::after {
    content: "";
    position: absolute;
    width: 239px;
    height: 21px;
    background: url("img/small-line.png");
    z-index: -1;
    top: 5px;
    left: 72px;
}

.header__content-left-btn {
    width: 286px;
    height: 85px;
    display: flex;
    align-items: center;
    background: #ffa500;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto Condensed";
    padding-left: 20px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 7.4px;
    margin-left: 29px;
    margin-top: 49px;
    margin-bottom: 122px;
    position: relative;
}

.header__content-left-btn::before {
    position: relative;
    content: "";
    width: 27px;
    height: 1px;
    background: black;
    left: 189px;
    top: 2px;
}

.header__content-left-btn::after {
    position: relative;
    content: "";
    width: 9px;
    height: 11px;
    background: url("img/arrow-main.png");
    top: 2px;
    left: 35px;
}

.header__content-left-btn:hover {
    background: white;
    cursor: pointer;
}

.header__content-left-scroll {
    width: 52px;
    height: 32px;
    background: url("img/scroll1.png") no-repeat center 3px,
                url("img/scroll2.png") no-repeat center;
    position: absolute;
    top: 833px;
    left: 588px;
}

.header__content-left-scroll:hover {
    transform: scale(1.1);
    transition: .3s ease;
    cursor: pointer;
}

.header__content-left-videolessons {
    font-size: 70px;
    font-family: "Pollock";
    text-transform: uppercase;
    color: #ffa500;
    letter-spacing: 7px;
    margin-left: 300px;
    margin-top: 141px;
    position: relative;
}

.header__content-left-secondnumber {
    font-size: 92px;
    margin-top: -86px;
    margin-left: 28px;
    letter-spacing: 19px;
    font-family: "Cinzel";
    color: white;
    position: relative;
}

.header__content-left-secondnumber::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 660px;
    background: white;
    top: 89px;
    left: 110px;

}

.header__content-left-text {
    color: white;
    font-family: "Pollock";
    text-transform: uppercase;
    margin-top: -7px;
    margin-left: 127px;;
    font-size: 40px;
    letter-spacing: 12px;
}

.header__left-menu {
    display: flex;
    flex-direction: column;
    margin-top: 157px;
}

.header__left-menu__block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    line-height: 1.5;
    margin-left: 113px;
    margin-bottom: 171px;
    height: 162px;
}

.header__left-menu__block-title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 9.9px;
    color: #ffa500;
    font-weight: bold;
    text-align: right;
}

.header__left-menu__block-content {
    box-sizing: border-box;
    margin-top: 3px;
    padding-right: 11px;
    letter-spacing: 1.2px;
    font-family: "Roboto";
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-align: right;
    line-height: 1.6;
    font-weight: 100;
}

.header__left-menu__block-cirle1,
.header__left-menu__block-cirle2,
.header__left-menu__block-cirle3 {
    height: 84px;
    width: 84px;
    background: #117f69;
    border-radius: 50%;
    position: absolute;
    right: -142px;
    top: 24px;
    z-index: 2;
}

.header__left-menu__block-cirle1 {
    background: url("img/burger.png") no-repeat center,
              #117f69;
}

.header__left-menu__block:nth-child(2) {
    margin-top: 15px;
    margin-left: -58px;
    position: relative;
    z-index: 0;
}

.header__left-menu__block:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 447px;
    height: 558px;
    background: url("img/menu-lines.png");
    left: 540px;
    top: -209px;
}

.header__left-menu__block:nth-child(1)::after {
     content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: url("img/circles.png");
    left: 421px;
    top: -14px;
    z-index: 2;
}

.header__left-menu__block:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: url("img/circles.png");
    left: 414px;
    top: -34px;
    z-index: 2;
}

.header__left-menu__block:nth-child(3)::after {
     content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: url("img/circles.png");
    left: 422px;
    top: -42px;
    z-index: 2;
}


.header__left-menu__block:nth-child(3) {
    margin-left: 52px;
    margin-top: 11px;
    margin-bottom: 40px;
}

.header__left-menu__block-cirle2 {
    top: 3px;
    right: -134px;
    background: url("img/car.png") no-repeat center,
              #117f69;   
}

.header__left-menu__block-cirle3 {
    top: -4px;
    background: url("img/baloon.png") no-repeat center,
              #117f69;
}

.header__left-menu-cirle {
    position: absolute;
    width: 964px;
    height: 932px;
    background: url("img/bigcircle.png") no-repeat;
    top: 1262px;
    left: 429px;
    z-index: -1;
}

.header__left-menu-basis {
    position: absolute;
    width: 70px;
    height: 250px;
    background: url("img/basis.png") no-repeat right -190px;
    top: 1646px;
    left: 728px;
    z-index: 2;
}

.header__left-menu-background {
    position: absolute;
    width: 1071px;
    height: 886px;
    background: url("img/menu-background.png") no-repeat;
    top: 1232px;
}

.header__content-right-social {
    display: flex;
    justify-content: space-between;
    margin-top: 786px;
    align-items: center;
    font-size: 0;
    width: 200px;
    margin-bottom: 507px;
}

.header__content-right-social-vk {
    background: url("img/vk.png") no-repeat center;
    height: 22px;
    width: 37px;
}

.header__content-right-social-fb {
    background: url("img/fb.png") no-repeat center;
    height: 42px;
    width: 34px;
    align-self: center;
    margin-left: 7px;
}

.header__content-right-social-tg {
    background: url("img/tg.png") no-repeat center;
    height: 30px;
    width: 37px;
}

.header__content-right-social-vk:hover {
    background: url(img/vk-h.png) no-repeat center;
}

.header__content-right-social-fb:hover {
    background: url(img/fb-h.png) no-repeat center;
}

.header__content-right-social-tg:hover {
    background: url(img/tg-h.png) no-repeat center;
}

.header__content-right-menu-block {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.header__content-right-menu-block-title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 9.9px;
    color: #ffa500;
    font-weight: bold;
    text-align: center;
    margin-top: 73px;
}

.header__content-right-menu-block-content {
    box-sizing: border-box;
    margin-top: 1px;
    padding-right: 11px;
    letter-spacing: 1.2px;
    font-family: "Roboto";
    font-size: 28px;
    text-transform: uppercase;
    width: 260px;
    align-self: center;
    color: white;
    text-align: center;
    line-height: 1.6;
    font-weight: 100;
}

.header__content-right-menu-block-circle1 {
    height: 84px;
    width: 84px;
    background: url("img/house.png") center, #117f69;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
}

.header__content-right-menu-block-circle2 {
    height: 84px;
    width: 84px;
    background: url("img/heart.png") center, #117f69;
    border-radius: 50%;
    align-self: center;
    margin-right: 8px;
}

.header__content-right-menu-btn {
    width: 286px;
    height: 85px;
    display: flex;
    align-items: center;
    background: #ffa500;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto Condensed";
    padding-left: 16px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 143px;
    margin-bottom: 184px;
    position: relative;
}

.header__content-right-menu-btn::before {
    position: relative;
    content: "";
    width: 27px;
    height: 1px;
    background: black;
    left: 194px;
    top: 2px;
}

.header__content-right-menu-btn::after {
    position: relative;
    content: "";
    width: 9px;
    height: 11px;
    background: url("img/arrow-main.png");
    top: 2px;
    left: 35px;
}

.header__content-right-menu-btn:hover {
    background: white;
    cursor: pointer;
}

.header__content-right-menu-block:nth-child(1) {
    position: relative;
}

.header__content-right-menu-block:nth-child(3) {
    margin-bottom: 23px;
    margin-top: px;
    position: relative;
}

.header__content-right-menu-block:nth-child(1)::before {
    position: absolute;
    content: "";
    width: 159px;
    height: 159px;
    background: url(img/circles.png) no-repeat;
    bottom: 113px;
    left: 70px;
}

.header__content-right-menu-block:nth-child(3)::before {
    position: absolute;
    content: "";
    width: 159px;
    height: 159px;
    background: url(img/circles.png) no-repeat;
    bottom: 157px;
    left: 76px;
}

.header__content-right-menu-block:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 159px;
    height: 159px;
    background: url(img/green-ball.png) no-repeat;
    top: 156px;
    right: 331px;
}

.header__content-right-stars {
    position: absolute;
    width: 106px;
    height: 101px;
    background: url("img/stars.png") no-repeat;
    top: 1697px;
    right: 409px;
}

.content02 {
    display: flex;
    justify-content: center;
}

.content02__left {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 77px;
}

.content02__right {
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: -1px 5px 30px -15px #000000;
    background: url("img/column-bg.png") no-repeat;
}

.content02__left-title {
    font-size: 70px;
    font-family: "Pollock";
    text-transform: uppercase;
    color: #ffa500;
    margin-left: 327px;
    margin-top: 144px;
    letter-spacing: 7px;
    position: relative;
}

.content02__left-title::before {
    content: "";
    width: 660px;
    height: 1px;
    position: absolute;
    background: #064557;
    top: 94px;
    right: 6px;
}

.content02__left-number {
    font-family: "Cinzel";
    font-size: 97px;
    letter-spacing: 12px;
    position: absolute;
    top: 144px;
    left: 26px;
    color: #064557;
}

.content02__left-students {
    font-family: "Pollock";
    font-size: 39px;
    color: #064557;
    text-transform: uppercase;
    letter-spacing: 11px;
    margin-top: 36px;
    margin-left: 109px;
}

.content02__right-battery {
    width: 450px;
    height: 36px;
    -webkit-box-shadow: 0px -56px 77px -30px rgba(89,48,255,1);
    -moz-box-shadow: 0px -56px 77px -30px rgba(89,48,255,1);
    box-shadow: 0px -76px 100px 3px rgba(89,48,255,1), 0px 52px 133px 56px rgba(255,255,255,1);
    background: url("img/battery.png");
}

.content02__right-choose {
    font-family: "Pollock";
    font-size: 36px;
    text-transform: uppercase;
    color: #064557;
    letter-spacing: 2px;
    margin-top: 127px;
    margin-left: 16px;
    box-shadow: inset 0px 0px 103px 36px rgba(255,255,255,1), 0px 0px 103px 36px rgba(255,255,255,1);
}

.content02__right-vertical {
    height: 114px;
    width: 1px;
    background: #e6e6e6;
    margin-top: 30px;
    margin-left: 12px;
    position: relative;
}

.content02__right-vertical::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 114px;
    background: url("img/v-line.png") no-repeat;
    left: -2px;
}

.content02__right-menu {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    box-shadow: inset 0px 0px 103px 36px rgba(255,255,255,1), 0px 0px 103px 36px rgba(255,255,255,1);
}

.content02__right-menu__element--left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 441px;
    height: 117px;
    border-radius: 70px;
    position: relative;
    box-sizing: border-box;
    padding-left: 80px;

}

.content02__right-menu-circle--left {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
    box-sizing: border-box;

}

.content02__right-menu-name--left {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-top: 31px;
}

.content02__right-menu-desript--left {
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    margin-top: 10px;
    letter-spacing: 0.1px;
    margin-left: auto;
}

.content02__right-menu-photo--left {
    width: 95px;
    height: 95px;
    background: url("img/nikitin.png") no-repeat center;
    border-radius: 50%;
    align-self: flex-end;
    margin-top: 11px;
    margin-right: 11px;
    margin-left: 37px;
    -webkit-box-shadow: 0px 0px 103px 16px rgb(203, 255, 230);
    -moz-box-shadow: 0px 0px 103px 16px rgb(203, 255, 230);
    box-shadow: 0px 0px 103px 16px rgb(203, 255, 230);
}

.content02__right-menu-decor--left {
    position: absolute;
    width: 368px;
    height: 123px;
    background: url(img/left.png) no-repeat;
    top: -3px;
    left: 76px;
    z-index: 3;
}

.content02__right-menu__element--right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 441px;
    height: 117px;
    border-radius: 70px;
    position: relative;
    padding-right: 52px;
    box-sizing: border-box;
}

.content02__right-menu-circle--right {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    align-self: center;
    margin-left: 13px;
    box-sizing: border-box;

}

.content02__right-menu-name--right {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-top: 36px;
}

.content02__right-menu-desript--right {
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    margin-top: 10px;
    letter-spacing: 0.1px;
}

.content02__right-menu-photo--right {
    width: 95px;
    height: 95px;
    background: url("img/anna.png") no-repeat center;
    border-radius: 50%;
    margin-top: 11px;
    margin-left: 11px;
    -webkit-box-shadow: 0px 0px 36px 19px #ffefc9;
    -moz-box-shadow: 0px 0px 36px 19px #ffefc9;
    box-shadow: 0px 0px 36px 19px #ffefc9;
}

.content02__right-menu-decor--right {
    position: absolute;
    width: 368px;
    height: 123px;
    background: url(img/right.png) no-repeat;
    top: -3px;
    left: -4px;
    z-index: 2;
}

.content02__right-menu__element--left:nth-child(3) {
    
    background: white;
    z-index: 1;
}

.circle-photo3 {
    box-shadow: none;
    background: url("img/marina.png");
}

.circle-photo4 {
    -webkit-box-shadow: 0px 0px 36px 19px #ffd9fe;
    -moz-box-shadow: 0px 0px 36px 19px #ffd9fe;
    box-shadow: 0px 0px 36px 19px #ffd9fe;
    margin-right: 35px;
    background: url("img/alex.png") no-repeat;
}

.circle-photo5 {
    -webkit-box-shadow: 0px 0px 36px 19px #ffc3c3;
    -moz-box-shadow: 0px 0px 36px 19px #ffc3c3;
    box-shadow: 0px 0px 36px 19px #ffc3c3;
    margin-left: -22px;
    background: url("img/grin.png") no-repeat;
}

.content02__right-btn {
    width: 286px;
    height: 85px;
    background: #ffa700;
    border-radius: 50px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    margin-top: 66px;
    margin-bottom: 137px;
    box-sizing: border-box;
    padding-left: 39px;
    padding-top: 27px;
    position: relative;
}

.content02__right-btn::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 1px;
    background: black;
    right: 50px;
    top: 44px;
}

.content02__right-btn::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 11px;
    background: url("img/arrow-main.png");
    top: 39px;
    right: 46px;
}

.content02__right-btn:hover {
    cursor: pointer;
    background: white;
}

.content02__left-text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 162px;
    max-width: 670px;
    align-self: flex-end;
    margin-right: 98px;
}

.content02__left-text-title {
    font-family: "Roboto";
    font-style: italic;
    font-size: 18px;
    margin-top: 6px;
    letter-spacing: -0.2px;
    align-self: flex-end;
}

.content02__left-text-content {
    font-family: "Roboto";
    font-size: 17px;
    letter-spacing: 0.3px;
    text-align: right;
    padding-left: 52px;
    margin-top: 36px;
    line-height: 1.7;
    overflow: hidden;
    height: 200px;

}

.content02__left-text-content--first,
.content02__left-text-content--second {
    margin-bottom: 38px;
}

.content02__left-text-read {
    display: flex;
    align-self: flex-end;
    margin-right: 70px;
    margin-top: 11px;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: -120px 159px 90px 230px rgb(255, 255, 255);
    -moz-box-shadow: -120px 159px 90px 230px rgb(255, 255, 255);
    box-shadow: -120px 159px 90px 230px rgb(255, 255, 255);
}

.content02__left-text-read-text {
    font-family: "Roboto", sans-serif;
    letter-spacing: 10px;
}

.content02__left-text-read-next {
    font-family: "Roboto";
    font-size: 16px;
    border-bottom: 1px dashed;
    padding-bottom: 6px;
}

.content02__left-text-read-icon {
    background: url("img/read-icon.png") center no-repeat;
    height: 17px;
    width: 17px;
    margin-right: 15px;
    margin-top: 1px;
}

.content02__left-text-read::before {
    content: "";
    position: absolute;
    width: 43px;
    height: 28px;
    background: url(img/read-arrow.png);
    right: -67px;
    top: -2px;
}

.content03 {
    display: flex;
    justify-content: center;
    background: url("img/bg-03.png");
}

.content03__left {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 77px;
}

.content03__right {
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content03__left-title {
    font-size: 70px;
    font-family: "Pollock", sans-serif;
    color: #ffa500;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 144px;
    letter-spacing: 7px;
    position: relative;
    z-index: 2;
}

.content03__left-title::before {
    content: "";
    position: absolute;
    width: 674px;
    height: 1px;
    background: white;
    top: 85px;
    right: 3px;
}

.content03__left-number {
    color: white;
    font-family: "Cinzel";
    position: absolute;
    font-size: 89px;
    top: 138px;
    left: 34px;
    z-index: 2;
    letter-spacing: 12px;
}

.content03__left-text {
    color: white;
    font-family: "Pollock";
    font-size: 39px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 33px;
    margin-left: 60px;
    letter-spacing: 12.5px;
    position: relative;
}

.content03__left-text::before {
    content: "";
    position: absolute;
    width: 514px;
    height: 172px;
    background: url("img/text-bg.png") no-repeat;
    bottom: 0px;
    right: 237px;
    opacity: 0.5;
}

.content03__right-title--big {
    font-family: "Pollock";
    text-transform: uppercase;
    font-size: 135px;
    color: #032d50;
    margin-right: 28px;
    margin-top: 142px;
    background: radial-gradient(ellipse at center, rgba(6,67,117, 1) 0%, rgba(12,59,97, 0.1) 74%, rgba(3,45,80, 0) 100%);
}

.content03__right-title--sml {
    color: #032d50;
    text-transform: uppercase;
    font-family: "Pollock";
    font-size: 70px;
    margin-right: 10px;
    margin-top: 2px;
    line-height: 0.4;
}

.content03__right-text {
    color: white;
    text-transform: uppercase;
    font-family: "Pollock";
    font-size: 40px;
    letter-spacing: 12px;
    margin-top: 47px;
}

.content03__left-blocks {
    display: flex;
    flex-direction: column;
    margin-top: 229px;
    margin-left: 117px;
}

.content03__left-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 225px;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 35px;
}

.content03__left-block-content {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    box-sizing: border-box;
    padding-right: 32px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: #01a2cd;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5
}

.content03__left-block-content--text:nth-child(n) {
    margin-bottom: 10px;
}

.content03__left-block-title {
    font-family: "Pollock";
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 14px;
    letter-spacing: 3.2px;
    max-width: 500px;
    position: relative;
}

.content03__left-block-img {
    background: #062333;
    width: 192px;
    height: 225px;
    border-radius: 30px 0px 0px 30px;
    border-left: 5px solid #00d1ff;
    border-top: 1px solid #00d1ff;
    position: relative;
}

.content03__left-block-img::before {
    content: "";
    position: absolute;
    width: 115px;
    height: 123px;
    background: url("img/blue-play.png") no-repeat;
    left: 84px;
    top: 50px;
}

.content03__left-block-info {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("img/i.png") no-repeat;
    top: 17px;
    left: -31px;
}

.white-number {
    color: white;
    font-weight: 100;
}

.content03__right-blocks, 
.content03__right-block {
    display: flex;
    flex-direction: column;
}

.content03__right-blocks {
    margin-top: 108px;
}

.content03__right-block {
    box-sizing: border-box;
    min-width: 508px;
    height: 225px;
    margin-left: 4px;
    align-items: flex-start;
    padding-left: 90px;
    border-top: 1px solid;
    border-image: url("img/border-top.png") 240 round;
    border-bottom: 1px solid;
    margin-bottom: 35px;
}


.content03__right-block-lesson {
    display: flex;
    box-sizing: border-box;
}

.content03__right-block-lesson-title {
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #e8cc74;
    letter-spacing: 22px;
    margin-top: 99px;
    margin-bottom: 22px;
    line-height: 0.9
}

.content03__right-block-lesson-number {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 100;
    color: white;
    margin-top: 92px;
    margin-left: 32px;
    letter-spacing: 8px;
    position: relative;
}

.content03__right-block-lesson-number::before {
    content: "";
    position: absolute;
    width: 627px;
    height: 63px;
    background: url("img/lesson-bg.png") no-repeat;
    right: -202px;
    top: -9px;
}

.content03__right-block-time {
    color: #e8cc74;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    margin-top: 0px;
    padding-left: 19px;
    position: relative;
}

.content03__right-block-time::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url("img/time.png") no-repeat;
    top: 2px;
    left: -3px;
}

.ls-number {
    letter-spacing: 0px;
}

* {
    margin: 0;
    padding: 0;
}


html {
    min-width: 1920px;
}

@font-face  { 
    font-family: 'Pollock';
    src: url('./fonts/Pollock.woff2') format('woff2'), url('./fonts/Pollock.woff') format('woff');
}

.header {
    background: url("img/Background.png") no-repeat;
    background-size: cover;
}

.header__title {
    display: flex;
    align-items: center;
}

.header__title-logo {
    margin-top: 19px;
    margin-left: 60px;
}

.header__title-menu {
    height: 18px;
    width: 28px;
    background: url(img/menu2.png) no-repeat,
                url(img/menu.png) no-repeat 0px 10px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 14px;
}

.header__title-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s cubic-bezier(0.4, 0, 1, 1);
}

.header__content {
    display: flex;
    justify-content: center;
    margin-left: 77px;
}

.header__content-left {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.header__content-right {
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header__content-left-play {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 27px;
    letter-spacing: 31px;
    margin-left: auto;
    color: white;
    text-transform: uppercase;
    position: relative;
    margin-top: 145px;
}

.header__content-left-play::before {
    content: "";
    height: 1px;
    width: 400px;
    position: absolute;
    background: white;
    top: 48px;
    right: 246px;
}

.header__content-left-play::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 52px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    left: 219px;
    top: 48px;
}

.header__content-left-playbtn {
    position: absolute;
    width: 51px;
    height: 51px;
    border: 1px solid white;
    left: 746px;
    top: 193px;
    background: url("img/play.png") no-repeat center;
}

.header__content-left-playbtn:hover {
    border-color: #eec400;
    cursor: pointer;
}

.header__content-left-video {
    margin-left: auto;
    margin-right: 162px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 3.8px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.header__content-left-number {
    font-size: 260px;
    font-weight: bold;
    font-family: "Cinzel";
    position: absolute;
    top: 30px;
    left: 13px;
    color: #ffa500;
}

.header__content-left-rules {
    font-family: "Pollock", sans-serif;
    font-size: 92px;
    margin-top: 128px;
    margin-left: 27px;
    text-transform: uppercase;
    letter-spacing: 24px;
    color: #064557;
    position: relative;
    line-height: 0.7;
    z-index: 2;
}

.header__content-left-reach {
    margin-top: 2px;
    font-family: sans-serif;
    font-family: "Pollock", sans-serif;
    font-size: 92px;
    margin-left: 27px;
    text-transform: uppercase;
    letter-spacing: 26px;
    color: white;
    position: relative;
    z-index: 2;
}

.orange-text {
    color: #ffa500;
}

.white-text {
    color: white;
}

.header__content-left-gift {
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 4.7px;
    margin-top: 13px;
    color: #064557;
    font-size: 24px;
    margin-left: 27px;
    position: relative;
}

.header__content-left-gift::before {
    content: "";
    position: absolute;
    width: 973px;
    height: 153px;
    background: url("img/rule.png") no-repeat;
    bottom: 76px;
    left: -522px;
}

.header__content-left-gift::after {
    content: "";
    position: absolute;
    width: 1076px;
    height: 153px;
    background: url("img/rules2.png") no-repeat;
    left: -422px;
    bottom: 76px;
}

.eight {
    font-size: 30px;
    letter-spacing: 8px;
}

.header__content-left-sucess {
    font-family: "Roboto";
    font-weight: 400;
    color: #064557;
    font-size: 25px;
    margin-left: 27px;
    margin-top: 5px;
    letter-spacing: -1.6px;
    position: relative;
    z-index: 2;
}

.header__content-left-sucess::after {
    content: "";
    position: absolute;
    width: 239px;
    height: 21px;
    background: url("img/small-line.png");
    z-index: -1;
    top: 5px;
    left: 72px;
}

.header__content-left-btn {
    width: 286px;
    height: 85px;
    display: flex;
    align-items: center;
    background: #ffa500;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto Condensed";
    padding-left: 20px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 7.4px;
    margin-left: 29px;
    margin-top: 49px;
    margin-bottom: 122px;
    position: relative;
}

.header__content-left-btn::before {
    position: relative;
    content: "";
    width: 27px;
    height: 1px;
    background: black;
    left: 189px;
    top: 2px;
}

.header__content-left-btn::after {
    position: relative;
    content: "";
    width: 9px;
    height: 11px;
    background: url("img/arrow-main.png");
    top: 2px;
    left: 35px;
}

.header__content-left-btn:hover {
    background: white;
    cursor: pointer;
}

.header__content-left-scroll {
    width: 52px;
    height: 32px;
    background: url("img/scroll1.png") no-repeat center 3px,
                url("img/scroll2.png") no-repeat center;
    position: absolute;
    top: 833px;
    left: 588px;
}

.header__content-left-scroll:hover {
    transform: scale(1.1);
    transition: .3s ease;
    cursor: pointer;
}

.header__content-left-videolessons {
    font-size: 70px;
    font-family: "Pollock";
    text-transform: uppercase;
    color: #ffa500;
    letter-spacing: 7px;
    margin-left: 300px;
    margin-top: 141px;
    position: relative;
}

.header__content-left-secondnumber {
    font-size: 92px;
    margin-top: -86px;
    margin-left: 28px;
    letter-spacing: 19px;
    font-family: "Cinzel";
    color: white;
    position: relative;
}

.header__content-left-secondnumber::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 660px;
    background: white;
    top: 89px;
    left: 110px;

}

.header__content-left-text {
    color: white;
    font-family: "Pollock";
    text-transform: uppercase;
    margin-top: -7px;
    margin-left: 127px;;
    font-size: 40px;
    letter-spacing: 12px;
}

.header__left-menu {
    display: flex;
    flex-direction: column;
    margin-top: 157px;
}

.header__left-menu__block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    line-height: 1.5;
    margin-left: 113px;
    margin-bottom: 171px;
    height: 162px;
}

.header__left-menu__block-title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 9.9px;
    color: #ffa500;
    font-weight: bold;
    text-align: right;
}

.header__left-menu__block-content {
    box-sizing: border-box;
    margin-top: 3px;
    padding-right: 11px;
    letter-spacing: 1.2px;
    font-family: "Roboto";
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-align: right;
    line-height: 1.6;
    font-weight: 100;
}

.header__left-menu__block-cirle1,
.header__left-menu__block-cirle2,
.header__left-menu__block-cirle3 {
    height: 84px;
    width: 84px;
    background: #117f69;
    border-radius: 50%;
    position: absolute;
    right: -142px;
    top: 24px;
    z-index: 2;
}

.header__left-menu__block-cirle1 {
    background: url("img/burger.png") no-repeat center,
              #117f69;
}

.header__left-menu__block:nth-child(2) {
    margin-top: 15px;
    margin-left: -58px;
    position: relative;
    z-index: 0;
}

.header__left-menu__block:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 447px;
    height: 558px;
    background: url("img/menu-lines.png");
    left: 540px;
    top: -209px;
}

.header__left-menu__block:nth-child(1)::after {
     content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: url("img/circles.png");
    left: 421px;
    top: -14px;
    z-index: 2;
}

.header__left-menu__block:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: url("img/circles.png");
    left: 414px;
    top: -34px;
    z-index: 2;
}

.header__left-menu__block:nth-child(3)::after {
     content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: url("img/circles.png");
    left: 422px;
    top: -42px;
    z-index: 2;
}


.header__left-menu__block:nth-child(3) {
    margin-left: 52px;
    margin-top: 11px;
    margin-bottom: 40px;
}

.header__left-menu__block-cirle2 {
    top: 3px;
    right: -134px;
    background: url("img/car.png") no-repeat center,
              #117f69;   
}

.header__left-menu__block-cirle3 {
    top: -4px;
    background: url("img/baloon.png") no-repeat center,
              #117f69;
}

.header__left-menu-cirle {
    position: absolute;
    width: 964px;
    height: 932px;
    background: url("img/bigcircle.png") no-repeat;
    top: 1262px;
    left: 429px;
    z-index: -1;
}

.header__left-menu-basis {
    position: absolute;
    width: 70px;
    height: 250px;
    background: url("img/basis.png") no-repeat right -190px;
    top: 1646px;
    left: 728px;
    z-index: 2;
}

.header__left-menu-background {
    position: absolute;
    width: 1071px;
    height: 886px;
    background: url("img/menu-background.png") no-repeat;
    top: 1232px;
}

.header__content-right-social {
    display: flex;
    justify-content: space-between;
    margin-top: 786px;
    align-items: center;
    font-size: 0;
    width: 200px;
    margin-bottom: 507px;
}

.header__content-right-social-vk {
    background: url("img/vk.png") no-repeat center;
    height: 22px;
    width: 37px;
}

.header__content-right-social-fb {
    background: url("img/fb.png") no-repeat center;
    height: 42px;
    width: 34px;
    align-self: center;
    margin-left: 7px;
}

.header__content-right-social-tg {
    background: url("img/tg.png") no-repeat center;
    height: 30px;
    width: 37px;
}

.header__content-right-social-vk:hover {
    background: url(img/vk-h.png) no-repeat center;
}

.header__content-right-social-fb:hover {
    background: url(img/fb-h.png) no-repeat center;
}

.header__content-right-social-tg:hover {
    background: url(img/tg-h.png) no-repeat center;
}

.header__content-right-menu-block {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.header__content-right-menu-block-title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 9.9px;
    color: #ffa500;
    font-weight: bold;
    text-align: center;
    margin-top: 73px;
}

.header__content-right-menu-block-content {
    box-sizing: border-box;
    margin-top: 1px;
    padding-right: 11px;
    letter-spacing: 1.2px;
    font-family: "Roboto";
    font-size: 28px;
    text-transform: uppercase;
    width: 260px;
    align-self: center;
    color: white;
    text-align: center;
    line-height: 1.6;
    font-weight: 100;
}

.header__content-right-menu-block-circle1 {
    height: 84px;
    width: 84px;
    background: url("img/house.png") center, #117f69;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
}

.header__content-right-menu-block-circle2 {
    height: 84px;
    width: 84px;
    background: url("img/heart.png") center, #117f69;
    border-radius: 50%;
    align-self: center;
    margin-right: 8px;
}

.header__content-right-menu-btn {
    width: 286px;
    height: 85px;
    display: flex;
    align-items: center;
    background: #ffa500;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: "Roboto Condensed";
    padding-left: 16px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 143px;
    margin-bottom: 184px;
    position: relative;
}

.header__content-right-menu-btn::before {
    position: relative;
    content: "";
    width: 27px;
    height: 1px;
    background: black;
    left: 194px;
    top: 2px;
}

.header__content-right-menu-btn::after {
    position: relative;
    content: "";
    width: 9px;
    height: 11px;
    background: url("img/arrow-main.png");
    top: 2px;
    left: 35px;
}

.header__content-right-menu-btn:hover {
    background: white;
    cursor: pointer;
}

.header__content-right-menu-block:nth-child(1) {
    position: relative;
}

.header__content-right-menu-block:nth-child(3) {
    margin-bottom: 23px;
    margin-top: px;
    position: relative;
}

.header__content-right-menu-block:nth-child(1)::before {
    position: absolute;
    content: "";
    width: 159px;
    height: 159px;
    background: url(img/circles.png) no-repeat;
    bottom: 113px;
    left: 70px;
}

.header__content-right-menu-block:nth-child(3)::before {
    position: absolute;
    content: "";
    width: 159px;
    height: 159px;
    background: url(img/circles.png) no-repeat;
    bottom: 157px;
    left: 76px;
}

.header__content-right-menu-block:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 159px;
    height: 159px;
    background: url(img/green-ball.png) no-repeat;
    top: 156px;
    right: 331px;
}

.header__content-right-stars {
    position: absolute;
    width: 106px;
    height: 101px;
    background: url("img/stars.png") no-repeat;
    top: 1697px;
    right: 409px;
}

.content02 {
    display: flex;
    justify-content: center;
}

.content02__left {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 77px;
}

.content02__right {
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: -1px 5px 30px -15px #000000;
    background: url("img/column-bg.png") no-repeat;
}

.content02__left-title {
    font-size: 70px;
    font-family: "Pollock";
    text-transform: uppercase;
    color: #ffa500;
    margin-left: 327px;
    margin-top: 144px;
    letter-spacing: 7px;
    position: relative;
}

.content02__left-title::before {
    content: "";
    width: 660px;
    height: 1px;
    position: absolute;
    background: #064557;
    top: 94px;
    right: 6px;
}

.content02__left-number {
    font-family: "Cinzel";
    font-size: 97px;
    letter-spacing: 12px;
    position: absolute;
    top: 144px;
    left: 26px;
    color: #064557;
}

.content02__left-students {
    font-family: "Pollock";
    font-size: 39px;
    color: #064557;
    text-transform: uppercase;
    letter-spacing: 11px;
    margin-top: 36px;
    margin-left: 109px;
}

.content02__right-battery {
    width: 450px;
    height: 36px;
    -webkit-box-shadow: 0px -56px 77px -30px rgba(89,48,255,1);
    -moz-box-shadow: 0px -56px 77px -30px rgba(89,48,255,1);
    box-shadow: 0px -76px 100px 3px rgba(89,48,255,1), 0px 52px 133px 56px rgba(255,255,255,1);
    background: url("img/battery.png");
}

.content02__right-choose {
    font-family: "Pollock";
    font-size: 36px;
    text-transform: uppercase;
    color: #064557;
    letter-spacing: 2px;
    margin-top: 127px;
    margin-left: 16px;
    box-shadow: inset 0px 0px 103px 36px rgba(255,255,255,1), 0px 0px 103px 36px rgba(255,255,255,1);
}

.content02__right-vertical {
    height: 114px;
    width: 1px;
    background: #e6e6e6;
    margin-top: 30px;
    margin-left: 12px;
    position: relative;
}

.content02__right-vertical::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 114px;
    background: url("img/v-line.png") no-repeat;
    left: -2px;
}

.content02__right-menu {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    box-shadow: inset 0px 0px 103px 36px rgba(255,255,255,1), 0px 0px 103px 36px rgba(255,255,255,1);
}

.content02__right-menu__element--left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 441px;
    height: 117px;
    border-radius: 70px;
    position: relative;
    box-sizing: border-box;
    padding-left: 80px;

}

.content02__right-menu-circle--left {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
    box-sizing: border-box;

}

.content02__right-menu-name--left {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-top: 31px;
}

.content02__right-menu-desript--left {
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    margin-top: 10px;
    letter-spacing: 0.1px;
    margin-left: auto;
}

.content02__right-menu-photo--left {
    width: 95px;
    height: 95px;
    background: url("img/nikitin.png") no-repeat center;
    border-radius: 50%;
    align-self: flex-end;
    margin-top: 11px;
    margin-right: 11px;
    margin-left: 37px;
    -webkit-box-shadow: 0px 0px 103px 16px rgb(203, 255, 230);
    -moz-box-shadow: 0px 0px 103px 16px rgb(203, 255, 230);
    box-shadow: 0px 0px 103px 16px rgb(203, 255, 230);
}

.content02__right-menu-decor--left {
    position: absolute;
    width: 368px;
    height: 123px;
    background: url(img/left.png) no-repeat;
    top: -3px;
    left: 76px;
    z-index: 3;
}

.content02__right-menu__element--right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 441px;
    height: 117px;
    border-radius: 70px;
    position: relative;
    padding-right: 52px;
    box-sizing: border-box;
}

.content02__right-menu-circle--right {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    align-self: center;
    margin-left: 13px;
    box-sizing: border-box;

}

.content02__right-menu-name--right {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-top: 36px;
}

.content02__right-menu-desript--right {
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    margin-top: 10px;
    letter-spacing: 0.1px;
}

.content02__right-menu-photo--right {
    width: 95px;
    height: 95px;
    background: url("img/anna.png") no-repeat center;
    border-radius: 50%;
    margin-top: 11px;
    margin-left: 11px;
    -webkit-box-shadow: 0px 0px 36px 19px #ffefc9;
    -moz-box-shadow: 0px 0px 36px 19px #ffefc9;
    box-shadow: 0px 0px 36px 19px #ffefc9;
}

.content02__right-menu-decor--right {
    position: absolute;
    width: 368px;
    height: 123px;
    background: url(img/right.png) no-repeat;
    top: -3px;
    left: -4px;
    z-index: 2;
}

.content02__right-menu__element--left:nth-child(3) {
    
    background: white;
    z-index: 1;
}

.circle-photo3 {
    box-shadow: none;
    background: url("img/marina.png");
}

.circle-photo4 {
    -webkit-box-shadow: 0px 0px 36px 19px #ffd9fe;
    -moz-box-shadow: 0px 0px 36px 19px #ffd9fe;
    box-shadow: 0px 0px 36px 19px #ffd9fe;
    margin-right: 35px;
    background: url("img/alex.png") no-repeat;
}

.circle-photo5 {
    -webkit-box-shadow: 0px 0px 36px 19px #ffc3c3;
    -moz-box-shadow: 0px 0px 36px 19px #ffc3c3;
    box-shadow: 0px 0px 36px 19px #ffc3c3;
    margin-left: -22px;
    background: url("img/grin.png") no-repeat;
}

.content02__right-btn {
    width: 286px;
    height: 85px;
    background: #ffa700;
    border-radius: 50px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    margin-top: 66px;
    margin-bottom: 137px;
    box-sizing: border-box;
    padding-left: 39px;
    padding-top: 27px;
    position: relative;
}

.content02__right-btn::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 1px;
    background: black;
    right: 50px;
    top: 44px;
}

.content02__right-btn::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 11px;
    background: url("img/arrow-main.png");
    top: 39px;
    right: 46px;
}

.content02__right-btn:hover {
    cursor: pointer;
    background: white;
}

.content02__left-text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 162px;
    max-width: 670px;
    align-self: flex-end;
    margin-right: 98px;
}

.content02__left-text-title {
    font-family: "Roboto";
    font-style: italic;
    font-size: 18px;
    margin-top: 6px;
    letter-spacing: -0.2px;
    align-self: flex-end;
}

.content02__left-text-content {
    font-family: "Roboto";
    font-size: 17px;
    letter-spacing: 0.3px;
    text-align: right;
    padding-left: 52px;
    margin-top: 36px;
    line-height: 1.7;
    overflow: hidden;
    height: 200px;

}

.content02__left-text-content--first,
.content02__left-text-content--second {
    margin-bottom: 38px;
}

.content02__left-text-read {
    display: flex;
    align-self: flex-end;
    margin-right: 70px;
    margin-top: 11px;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: -120px 159px 90px 230px rgb(255, 255, 255);
    -moz-box-shadow: -120px 159px 90px 230px rgb(255, 255, 255);
    box-shadow: -120px 159px 90px 230px rgb(255, 255, 255);
}

.content02__left-text-read-text {
    font-family: "Roboto", sans-serif;
    letter-spacing: 10px;
}

.content02__left-text-read-next {
    font-family: "Roboto";
    font-size: 16px;
    border-bottom: 1px dashed;
    padding-bottom: 6px;
}

.content02__left-text-read-icon {
    background: url("img/read-icon.png") center no-repeat;
    height: 17px;
    width: 17px;
    margin-right: 15px;
    margin-top: 1px;
}

.content02__left-text-read::before {
    content: "";
    position: absolute;
    width: 43px;
    height: 28px;
    background: url(img/read-arrow.png);
    right: -67px;
    top: -2px;
}

.content03 {
    display: flex;
    justify-content: center;
    background: url("img/bg-03.png");
}

.content03__left {
    width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 77px;
}

.content03__right {
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content03__left-title {
    font-size: 70px;
    font-family: "Pollock", sans-serif;
    color: #ffa500;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 144px;
    letter-spacing: 7px;
    position: relative;
    z-index: 2;
}

.content03__left-title::before {
    content: "";
    position: absolute;
    width: 674px;
    height: 1px;
    background: white;
    top: 85px;
    right: 3px;
}

.content03__left-number {
    color: white;
    font-family: "Cinzel";
    position: absolute;
    font-size: 89px;
    top: 138px;
    left: 34px;
    z-index: 2;
    letter-spacing: 12px;
}

.content03__left-text {
    color: white;
    font-family: "Pollock";
    font-size: 39px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 33px;
    margin-left: 60px;
    letter-spacing: 12.5px;
    position: relative;
}

.content03__left-text::before {
    content: "";
    position: absolute;
    width: 514px;
    height: 172px;
    background: url("img/text-bg.png") no-repeat;
    bottom: 0px;
    right: 237px;
    opacity: 0.5;
}

.content03__right-title--big {
    font-family: "Pollock";
    text-transform: uppercase;
    font-size: 135px;
    color: #032d50;
    margin-right: 28px;
    margin-top: 142px;
    background: radial-gradient(ellipse at center, rgba(6,67,117, 1) 0%, rgba(12,59,97, 0.1) 74%, rgba(3,45,80, 0) 100%);
}

.content03__right-title--sml {
    color: #032d50;
    text-transform: uppercase;
    font-family: "Pollock";
    font-size: 70px;
    margin-right: 10px;
    margin-top: 2px;
    line-height: 0.4;
}

.content03__right-text {
    color: white;
    text-transform: uppercase;
    font-family: "Pollock";
    font-size: 40px;
    letter-spacing: 12px;
    margin-top: 47px;
}

.content03__left-blocks {
    display: flex;
    flex-direction: column;
    margin-top: 229px;
    margin-left: 117px;
}

.content03__left-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 225px;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 35px;
}

.content03__left-block-content {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    box-sizing: border-box;
    padding-right: 32px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: #01a2cd;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5
}

.content03__left-block-content--text:nth-child(n) {
    margin-bottom: 10px;
}

.content03__left-block-title {
    font-family: "Pollock";
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 14px;
    letter-spacing: 3.2px;
    max-width: 500px;
    position: relative;
}

.content03__left-block-img {
    background: #062333;
    width: 192px;
    height: 225px;
    border-radius: 30px 0px 0px 30px;
    border-left: 5px solid #00d1ff;
    border-top: 1px solid #00d1ff;
    position: relative;
}

.background-1 {
    background: url("img/human.png") no-repeat 21px 48px, #001e30;
}

.background-2 {
    background: url("img/pen.png") no-repeat 0px 24px, #001e30;
}

.background-3 {
    background: url("img/compas.png") no-repeat 0px 24px, #002135;
}

.background-4 {
    background: url("img/columns.png") no-repeat center, #001e30;
}

.background-5 {
    background: url("img/map.png") no-repeat 26px 5px, #001e30;
}

.background-6 {
    background: url("img/graph.png") no-repeat 14px 33px, #001e30;
}

.background-7 {
    background: url("img/menwithcomputer.png") no-repeat center, #001e30;
}

.background-8 {
    background: url("img/maillogo.png") no-repeat 14px 33px, #001e30;
}


.content03__left-block-img::before {
    content: "";
    position: absolute;
    width: 115px;
    height: 123px;
    background: url("img/blue-play.png") no-repeat;
    left: 84px;
    top: 50px;
}

.content03__left-block-info {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("img/i.png") no-repeat;
    top: 17px;
    left: -31px;
}

.white-number {
    color: white;
    font-weight: 100;
}

.content03__right-blocks, 
.content03__right-block {
    display: flex;
    flex-direction: column;
}

.content03__right-blocks {
    margin-top: 108px;
}

.content03__right-block {
    box-sizing: border-box;
    min-width: 508px;
    height: 225px;
    margin-left: 4px;
    align-items: flex-start;
    padding-left: 90px;
    border-top: 1px solid;
    border-image: url("img/border-top.png") 240 round;
    border-bottom: 1px solid;
    margin-bottom: 35px;
}


.content03__right-block-lesson {
    display: flex;
    box-sizing: border-box;
}

.content03__right-block-lesson-title {
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #e8cc74;
    letter-spacing: 22px;
    margin-top: 99px;
    margin-bottom: 22px;
    line-height: 0.9
}

.content03__right-block-lesson-number {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 100;
    color: white;
    margin-top: 92px;
    margin-left: 32px;
    letter-spacing: 8px;
    position: relative;
}

.content03__right-block-lesson-number::before {
    content: "";
    position: absolute;
    width: 627px;
    height: 63px;
    background: url("img/lesson-bg.png") no-repeat;
    right: -202px;
    top: -9px;
}

.content03__right-block-time {
    color: #e8cc74;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    margin-top: 0px;
    padding-left: 19px;
    position: relative;
}

.content03__right-block-time::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url("img/time.png") no-repeat;
    top: 2px;
    left: -3px;
}

.ls-number {
    letter-spacing: 0px;
}

.content03__left-foot {
    position: absolute;
    bottom: 0px;
    left: 350px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 4px;
    box-sizing: border-box;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: -171px 46px 181px 171px rgba(2,39,61,1);
}

.content03__left-foot-text {
    border-bottom: 1px dashed white;
    padding-bottom: 8px;
    padding-top: px;
    margin-right: 2px;
    align-self: flex-end;
}

.content03__left-foot-img {
    height: 24px;
    width: 36px;
    background: url("img/more.png") no-repeat center;
    margin-left: 24px;
    margin-bottom: 3px;
}